# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.terraform.lock.hcl

my-ec2-key
my-ec2-key.pub

windows-keypair.pem
windows-keypair.pub
windows-keypair-openssh.key
*.pem
*.key
